body{
    font-family: 'Bona Nova', serif;
    
}


.line-color{
    color: orangered;
}

section{
    display: flex;
    margin-bottom: 60px;
}
.half-width{
    width: 60%;
    padding-left: 4% ;
    text-align: justify;
    
}
.half-width img{
    width: 50%;   
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orangered, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    

}
    
.half-widthh{
    width: 45%;
    margin: 5%;
    margin-left: 15px;
    padding:  4% ;
    text-align: justify;
    border-radius: 5%;
    border-left: 25%;
    border-right: 10%;
    box-shadow: 10px 10px 40px gray;
    border-left: 5px solid orangered;
    
}
#footer{
    text-align: center;
    position: fixed;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 5%;
    box-shadow:5px 10px 40px ;
    background-image: linear-gradient(orange, tomato, yellow);
    color:white;


}